<form class="modal-forms">
<legend>Register</legend>
	<div ng-show="showError" class="alert alert-danger alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
    {{error_msg}}
  </div>
<div class="form-group">
	<input class="form-control" type="text" ng-model="user.email" placeholder="Email"/>
	<br/>
	<input class="form-control" type="password" ng-model="user.password" placeholder="Password" />
</div>
	<button class="btn btn-success" ng-click="registerOk()">Register</button>
	<button class="btn" ng-click="RegisterCancel()">Cancel</button>

</form>